<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
         <link rel="stylesheet" href="/css/styles.css" type="text/css">

        <meta charset="utf-8">
        <title>Edit Stylist</title>
    </head>
    <body>
        <nav class="top-class">
            <div class="nav-wrapper light-green darken-2">
                <a href="/" class="brand-logo center"><h1>Adam's Hair Salon</h1></a>
            </div>
        </nav>
        <div class="container">
            <div class="">
                <h1 class="name">Update {{ stylist.getName }}'s information: </h1>
            </div>
            <form action="/stylist/{{ stylist.getId }}" method="post">
              <input name="_method" type="hidden" value="patch" >
            <div class="input-field">
              <label for="name">Rename your stylist</label>
              <input id="name" name="name" type="text" required>
            </div>
              <button class="btn waves-effect blue darken-1 waves-light" type="submit">Update</button>
            </form>
            <br>
            <form action="/stylist/{{ stylist.getId }}/delete" method="post">
              <input name="_method" type="hidden" value="delete">

              <button class="btn waves-effect blue-grey darken-4" type="submit">Delete this stylist</button>
            </form>
        </div>
    </body>
</html>
